{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />

<html>
<title>RST2HTML5</title>
<center><b><h1>{{ name }}</h1></b>
<a class=button download="{{ name }}.html" href={{ path }}>Download Link</a>  
</center>	
</html>
