{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />

<html>

<title>RST2HTML5</title>
<center>
<b><h1>Edit Slide</h1></b>
<form name="myForm" action="{% url 'slide:save'%}" onsubmit="return validateForm()" method="post">
{% csrf_token %}
{% for item in slide %}
Name : {{ item.name_text }}<input id='name' type='hidden' name="name" value="{{ item.name_text }}">
<br><br>
Text Size : <input type="number" id='size' value='30' name="size" min="12" max="30" onClick='setSize()' onchange="setSize()">
<br>
<br>
<textarea rows="50" cols="80" id='text' name='text'>{{ item.data_text }}</textarea>
<br>
<div class='select-style''>
Style : <select id="select" name='type'>
<option>CLEAN</option>
<option>DECK</option>
<option>REVAL</option>
<option>BOOTSTRAP</option>
</select><hr><input class=button type='submit' value='Save'></div>
</form>
</center>
{% endfor %}


<p id="demo"></p>
<script>
function validateForm(){
    var check_name = document.forms["myForm"]["name"].value;
    var check_text = document.forms["myForm"]["text"].value;
    if (check_name == null || check_name == "") {
        alert("Name must be filled out");
        return false;
    }
    else if (check_text == null || check_text == "") {
        alert("Text must be filled out");
        return false;
    }
    else{
        return true;
    }
    
}
function setSize(){
    document.getElementById("text").style.fontSize = document.getElementById("size").value;
}
</script>	
</html>
