{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />

<html>
<title>RST2HTML5</title>
<center><b><h1>Service</h1></b>
<a class=button href="{% url 'slide:showList' %}">View Created Slide</a>
<br>
<br>
<a class=button href="{% url 'slide:newSlide' %}">Create New Slide</a>
<br>
<br>
<a class=button href="{% url 'slide:quickDraft' %}">Quick Draft</a>
<br>
<br>
<a class=button href="{% url 'slide:upload' %}">Upload Image</a>  
</center>
</html>
