{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'data/spongebob.jpg' %}" />
<html>

<title>RST2HTML5</title>
<center>
<b><h1>Create New Slide</h1></b>

<form id="myform" name="myForm" action="{% url 'slide:store' %}" onsubmit="return validateForm()" method="post">
{% csrf_token %}
Name : <input id='name' type='text' name="name" onchange="setLink()">
<br><br>
Text Size : <input type="number" id='size' value='30' name="size" min="12" max="30" onClick='setSize()' onchange="setSize()"><br><br>
Image Link : <input type="text" name="image" value=".. image:: static//<Image Name>" id="image" readonly>
<br>
<br>
<textarea rows="50" cols="80" id='text' name='text'></textarea>
<br>
<div class='select-style''>
Style : <select id="select" name='type'>
<option>CLEAN</option>
<option>DECK</option>
<option>REVAL</option>
<option>BOOTSTRAP</option>
</select><hr><input class=button type='submit' value='Create'>

</div>
</center>

</form>
<form action="{% url 'slide:converted' %}" onclick="return setURL()" method="get" target="_blank">
<input type="hidden" name='text' id='text2'>
<input type="hidden" name='type' id='select2'>
<center>
<input class=button type="submit" value="Preview">
</center>
</form>
<script>
function validateForm(){
    var check_name = document.forms["myForm"]["name"].value;
    var check_text = document.forms["myForm"]["text"].value;
    var check_dupl = {{ json_list|safe }}
    for(i = 0; i < check_dupl.length; i++){
        if(check_dupl[i] == check_name){
            alert("Name alread used")
            return false;
        }
    }
    if (check_name == null || check_name == "") {
        alert("Name must be filled out");
        return false;
    }
    else if (check_text == null || check_text == "") {
        alert("Text must be filled out");
        return false;
    }
    else{
        return true;
    }
    
}
function setSize(){
    document.getElementById("text").style.fontSize = document.getElementById("size").value;
}
function setLink(){
    var new_name = ""
    var name = trim(document.getElementById("name").value)
    for(i = 0; i < name.length; i++){
        if(name.charAt(i) == ' '){
        new_name = new_name + "_";
        }
        else{
        new_name = new_name + name.charAt(i);
        }
    }
    document.getElementById("image").value = ".. image:: static/"+new_name+"/<Image Name>";
}
function setURL(){
    document.getElementById("text2").value = document.getElementById("text").value;
    document.getElementById("select2").value = document.getElementById("select").value;
    return true;   
}
function trim(s){ 
  return ( s || '' ).replace( /^\s+|\s+$/g, '' ); 
}

</script>	
</html>
