{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
<html>
<title>RST2HTML5</title>
<center><b><h1>Convert from RST to HTML</h1></b>
<form action="{% url 'slide:converted' %}" method='get'>
<h3>Insert RST Below</h3><br>
<textarea rows="50" cols="175" name='text'></textarea>
<br>
<div class='select-style''>
<select id="select" name='type'>
<option>CLEAN</option>
<option>DECK</option>
<option>REVAL</option>
<option>BOOTSTRAP</option>
</select><hr><input class=button type='submit' value='Convert'></div>
</form> 
</center>	
</html>
