{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
<html>
<title>RST2HTML5</title>
<center><b><h1>Created Slide</h1></b>
{% for name in slide %}
<a class=button href="{% url 'slide:converted' %}?name={{ name.name_text }}&type={{ name.style_text }}"+"hello">{{ name }}({{ name.style_text }})</a>
<br><br>
{% endfor %}
</center>	
</html>
