<!DOCTYPE html>
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
<body>
<center>
{% verbatim myblock %}

<div ng-app="myApp" ng-controller="namesCtrl">

<h1>Created Slide</h1>

<p><input type="text" ng-model="test" placeholder='Search Here'></p>

  <div ng-repeat="x in names | filter:test">
  <a class=button href="converted?name={{ x }}">
    {{ x }}<input type=hidden value={{ x }}>
  </a>    <a class=button_nw href="edit?name={{ x }}">EDIT</a>    <a class=button_nw href="download?name={{ x }}"><font color="blue">Download</font></a>    
<a class=button_nw onclick="return confirmDel();"  href="delete?name={{ x }}"><font color="red">X</font></a>        
  <br><br>
  </div>
  {{ name }}
</div>
{% endverbatim myblock %}
</center>
<script>
var x = 0;
angular.module('myApp', []).controller('namesCtrl', function($scope, $http) {
    $scope.names = {{ json_list|safe }};

});

function confirmDel(){
    var del = confirm("Confirm Delete?");
    return del
}

</script>

</body>
</html>

