{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />

<html>
<title>RST2HTML5</title>


<center>
<h1>Upload Image</h1>

<form action="{% url 'slide:uploaded' %}" onsubmit="return checkFile();" method='post' enctype="multipart/form-data">
{% csrf_token %}
</div>            
<input type="file" name="input_file" id="input_file">
<input type="hidden" name="file_name" id="file_name">
<br><br>
<div class='select-style''>
Project : <select id="select" name='name'>
{% for item in names %}
<option>{{ item }}</option>
{% endfor %}
</select>
<br><br>
<input class='button' type="submit" value="Upload Image" name="submit">
</form>
<br><br>
<p><font color="red" id="msg"></font><p>
</center>

<script>
function checkFile (){
    var x = document.getElementById("input_file").value;
    var img_file = [".jpg",".png",".jpeg",".gif"];
    for(i = 0; i < img_file.length;i++){
        if( x.endsWith(img_file[i]) ){
            document.getElementById("file_name").value = x;
            return true;
        }
    }
    document.getElementById("msg").innerHTML = "NOT IMAGE FILE";

    return false;
}
String.prototype.endsWith = function(suffix) {
    return this.indexOf(suffix, this.length - suffix.length) !== -1;
};
</script>
</html>
